@font-face {
    font-family: 'line-seed-sans';
    src: url('/kwanmaledphun/fonts/line-seed-sans/LINESeedSansTH_W_Rg.woff2') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'line-seed-sans';
    src: url('/kwanmaledphun/fonts/line-seed-sans/LINESeedSansTH_W_Th.woff2') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'line-seed-sans';
    src: url('/kwanmaledphun/fonts/line-seed-sans/LINESeedSansTH_W_Bd.woff2') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'line-seed-sans';
    src: url('/kwanmaledphun/fonts/line-seed-sans/LINESeedSansTH_W_XBd.woff2') format('woff');
    font-weight: 900;
}

body {
    font-family: 'line-seed-sans';
}